@model Eletronics.WEB.Models.ChangeProductModel
@{
    WebGrid grid = new WebGrid(Model.products, rowsPerPage: 10);
}
<div class="principal">
    <div class="container">
        <center><h2>Excluir Produtos</h2></center>
        <div class="cadastro-clientes">
            <br />
            <form role="form">

                <div class="form-group">
                    <label for="txtproductname">Nome do produto:</label>
                    <input type="text" id="txtproductname" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="productid">id do produto:</label>
                    <input type="number" id="productid" min="1" max="9999999999" class="form-control">
                </div>

                <div class="form-group">
                    <label for="quantityavaiable">Quantidade Disponível</label>
                    <input type="number" id="quantityavaiable" min="0" max="9999999999" class="form-control">
                </div>

                <div class="form-group">
                    <label for="txtproductdescription">Product Description:</label>
                    <input type="text" id="txtproductdescription" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="combofornecedor">Fornecedores</label>
                    <select id="combofornecedor" class="form-control">
                        <option></option>
                        @foreach (var suppliers in Model.suppliers)
                        {
                            <option value="@suppliers.SupplierID">@suppliers.SupplierName</option>
                        }

                    </select>
                </div>

                <br /><br /><button class="limpar btn btn-default">Limpar</button>
                <button class="pesquisar btn btn-primary">Pesquisar</button>
            </form>
            <br />
            <br />
            <center>
                <div class="gridConteudo">
                    @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",
            columns: grid.Columns
            (grid.Column("ProductID", "ID do produto"), grid.Column("ProductName", "Nome do produto"),
             grid.Column("ProductDescription", "Descrição do produto"),
             grid.Column("AvaiableQuantity", "Quantidade disponível"),
             grid.Column("SupplierId", "CNPJ do fornecedor"),
             grid.Column("SupplierName", "Nome do fornecedor")))
                </div>
            </center>

            <div class="exclusao-produtos">
                <br />
                <form role="form">

                    <div class="form-group">
                        <label for="txteditarproductname">Nome do produto:</label>
                        <input type="text" id="txteditarproductname" class="form-control" disabled />
                    </div>

                    <div class="form-group">
                        <label for="editarproductid">id do produto:</label>
                        <input type="number" id="editarproductid" min="1" max="9999999999" class="form-control" disabled>
                    </div>

                    <div class="form-group">
                        <label for="txteditarproductdescription">Product Description:</label>
                        <input type="text" id="txteditarproductdescription" class="form-control" disabled />
                    </div>

                    <div class="form-group">
                        <label for="editarquantityavaiable">Quantidade Disponível</label>
                        <input type="number" id="editarquantityavaiable" min="0" max="9999999999" class="form-control" disabled>
                    </div>

                    <div class="form-group">
                        <label for="editarcombofornecedor">Fornecedores:</label>
                        <select id="editarcombofornecedor" class="form-control" disabled>
                            <option></option>
                            @foreach (var suppliers in Model.suppliers)
                            {
                                <option value="@suppliers.SupplierID">@suppliers.SupplierName</option>
                            }

                        </select>
                    </div>
                    <button class="limparModificar btn btn-default">Limpar</button>
                    <button class="excluir btn btn-danger">Confirmar exclusão de registro</button>
                </form>

            </div>
        </div>

    </div>

    <script src="~/Scripts/jquery.mask.min.js"></script>
    @Scripts.Render("~/Product/crud")
    <br />
</div>