<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="menu">
        <div class="menu-itens">
            <nav class="navbar navbar-default">
                <div class="container">

                    <a href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content("~/Images/logo.jpg")" class="logo" />
                    </a>


                    <ul class="menu-navegacao navbar-right">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown"
                               class="dropdown-toggle">Cliente<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">@Html.ActionLink("Cadastrar", "Cadastrar", "Client")</a></li>
                                <li><a href="#">@Html.ActionLink("Modificar", "Modificar", "Client")</a></li>
                                <li><a href="#">@Html.ActionLink("Exclusão", "Excluir", "Client")</a></li>
                                <li><a href="#">@Html.ActionLink("Consulta", "Consultar", "Client")</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown"
                               class="dropdown-toggle">Fornecedor<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">@Html.ActionLink("Cadastrar", "Cadastrar", "Supplier")</a></li>
                                <li><a href="#">@Html.ActionLink("Modificar", "Modificar", "Supplier")</a></li>
                                <li><a href="#">@Html.ActionLink("Exclusão", "Excluir", "Supplier")</a></li>
                                <li><a href="#">@Html.ActionLink("Consulta", "Consultar", "Supplier")</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown"
                               class="dropdown-toggle">Produto<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">@Html.ActionLink("Cadastrar", "Cadastrar", "Product")</a></li>
                                <li><a href="#">@Html.ActionLink("Modificar", "Modificar", "Product")</a></li>
                                <li><a href="#">@Html.ActionLink("Exclusão", "Excluir", "Product")</a></li>
                                <li><a href="#">@Html.ActionLink("Consulta", "Consultar", "Product")</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
    <div id="body">
        @RenderSection("featured", required: false)
    </div>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
