@model IList<EletronicStore.WEB.Models.ProductPurchaseVM>
@{

    var grid = new WebGrid(@Model,rowsPerPage: 10);

}



<div class="menu">
    <div class="menu-itens">
        <nav class="navbar navbar-default">
            <div class="container">


                <img src="@Url.Content("~/Images/logo.jpg")" class="logo" />


                <ul class="menu-navegacao navbar-right">
                    <li><a href="#">@Html.ActionLink("Faça Sua Compra", "ProductList", "Purchase")</a></li>
                    <li><a href="#">@Html.ActionLink("Compras Anteriores", "MyPurchases", "Purchase")</a></li>
                    <li><a href="#">@Html.ActionLink("Sair", "LogOff")</a></li>
                </ul>
            </div>
        </nav>

    </div>
</div>


<center><h2>Suas Compras:</h2></center>

@if (@Model.Count > 0)
{

    <center>
        <div id="gridcontent">
            @grid.GetHtml(tableStyle: "webGrid",
    headerStyle: "header",
    alternatingRowStyle: "alt",
    selectedRowStyle: "select", columns: grid.Columns(grid.Column("SupplierName", "Nome Fornecedor"),
    grid.Column("ProductID", "ID do produto"),
    grid.Column("ProductName", "Nome do produto"),
    grid.Column("ProductDescription", "Descrição do produto"),
    grid.Column("AvaiableQuantity", "Quantidade"),
    grid.Column("PurchaseID", "ID da compra")))
        </div>
        <br />
        <input type="button" value="Cancelar Compra" class="delete btn btn-danger" />
    </center>
}
else
{
    <div class="container">
        <div class="jumbotron">
            <center><h2>Você não tem compras registradas</h2></center>
        </div>
    </div>
}

<script src="~/Scripts/Purchase/MyPurchases.js"></script>


